.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

header {
  padding: 30px 0;
  text-align: center;
  font-size: 22px;
  background-color: #343B49;
  color: #fff;
  font-weight: bold;
}

.main-menu {
  font-size: 14px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.article {
  position: relative;
  background-color: #3173A8;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0px 0px 18px -5px #343B49;
  max-width: 90%;
  color: #fff;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.date {
  font-size: 10px;
  color: #fff;
  margin: 10px 0;
  text-align: right;
  font-style: italic;
}

.content {
  font-size: 12px;
  max-width: 1000px;
}
